*{
    padding: 0;
    margin: 0;
}

#upload-area{
    text-align: center;
    background-color: aquamarine;
    padding: 50px;
}

#upload-area p {
    font-size: 48px;
    margin-bottom: 40px;
}

#files{
    display: none;
}

#button {
    font-size: 24px;
    padding: 12px 24px;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #bbb;

}

#button:hover {
    background-color: #ddd;

}

#progress-area{
    padding: 20px;
}

.progress-block{
    margin-bottom: 20px;

}
.progress-block label{
    font-size: 24px;
    line-height: 1.6;
}
.progress-bar {
    height: 36px;
    border: 1px solid #bbb;
    border-radius: 2px;
    position: relative;
    width: 100%;
}
.progress-bar span {
    position: absolute;
    left: calc(50% - 30px);
    font-size: 28px;
    top: 2px;
    
}
.progress-bar div{
    background-color: aquamarine;
    height: 100%;

}